
@{
    ViewBag.Title = "Profil";
}

<section class="aboutMe">
    <div class="row">
        <div class="col-lg-8" id="left">
            <div class="me-intro">
                Wer bin ich eigentlich ?
                <hr />
            </div>
            <div class="me-description">
                Mein Name ist <i>Ernad Jakupovic</i>. Ich bin 20 Jahre alt und gebürtig aus Bosnien
                u. Herzegowina. Ich lebe seit 19 Jahren zusammen mit meiner Familie in Stuttgart.
                
                <br />

                Zurzeit befinde ich mich im 3. Lehrjahr meiner Ausbildung zum Fachinformatiker für
                Systemintegration bei der PP 2000 GmbH, einem Unternehmen der Bechtle Gruppe.

                <br />

                Mit Anleitung und Unterstützung durch meinen Ausbilder und meiner Kollegen
                konnte ich den Umgang mit vielen IT-Technologien erlernen.

                <br />

                Der Schwerpunkt meiner Ausbildung bildete die Softwareentwicklung und das Customizing
                von Anwendungssystemen.
            </div>
        </div>
        <div class="col-lg-4 mt-5 mt-lg-0" id="right">
            <div class="image text-center">
                <img src="https://media.istockphoto.com/photos/programming-source-code-abstract-background-picture-id1047259374?k=6&m=1047259374&s=612x612&w=0&h=nG_krpdg_SonwCnxIOYShVLEidbLvukG9YrBUsRqVEQ=" />
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-lg-4 mt-5 mt-lg-0" id="left">
            <div class="image text-center">
                <img src="https://assets.t3n.sc/news/wp-content/uploads/2020/03/java-code.jpg?auto=format&h=&ixlib=php-2.3.0&w=" />
            </div>
        </div>
        <div class="col-lg-8 mt-3 mt-lg-0" id="right">
            <div class="me-intro">
                Wie kam ich zu meinem Beruf ?
                <hr />
            </div>
            <div class="me-description">
                Schon seit meiner Kindheit bin ich von Computern geprägt und fasziniert. Relativ früh
                habe ich meinen eigenen Computer bekommen, mit dem ich begonnen habe den Umgang zu 
                erlenen. Nach einer Zeit wurde es zu meinem persönlichen Hobby, Zeit mit dem PC zu verbringen
                und Technologien zu erlernen wie HTML u. CSS.

                <br />

                Nach meinem Realschulabschluss wollte ich mich im IT-Bereich weiterbilden, deshalb habe ich mich
                dazu entschlossen das Berufskolleg 1, an einer IT-Schule zu besuchen.

                Anschließend wollte ich mein Hobby zum Beruf machen. Somit habe ich im Anschluss vom 
                Berufskolleg einen Ausbidungsplatz als Fachinformatiker gesucht.

                <br />

                Mein Ziel war ich mein Know-How in allen möglichen Bereichen auszuweiten und zu verbessern.
            </div>
        </div>
    </div>
</section>
